Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: sg-edb4e78b
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/pki/tls/certs/server.crt:
    content:|
      -----BEGIN CERTIFICATE-----
        MIIDtjCCAp4CCQCuvWRISHcZ1TANBgkqhkiG9w0BAQUFADCBnDELMAkGA1UEBhMC
        VVMxEzARBgNVBAgTCldhc2hpbmd0b24xEDAOBgNVBAcTB1NlYXR0bGUxETAPBgNV
        BAoTCFBlcnNvbmFsMTEwLwYDVQQDEyhtbHZvY2FidWxhcnlidWlsZGVyLmVsYXN0
        aWNiZWFuc3RhbGsuY29tMSAwHgYJKoZIhvcNAQkBFhF3c3lsYWZhQGdtYWlsLmNv
        bTAeFw0xNTExMjgwNjIyMjlaFw0xNzExMjcwNjIyMjlaMIGcMQswCQYDVQQGEwJV
        UzETMBEGA1UECBMKV2FzaGluZ3RvbjEQMA4GA1UEBxMHU2VhdHRsZTERMA8GA1UE
        ChMIUGVyc29uYWwxMTAvBgNVBAMTKG1sdm9jYWJ1bGFyeWJ1aWxkZXIuZWxhc3Rp
        Y2JlYW5zdGFsay5jb20xIDAeBgkqhkiG9w0BCQEWEXdzeWxhZmFAZ21haWwuY29t
        MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmrokWm21dKANBVXcoXnO
        CWw6tOD2gVG6fIwOKNYW/+vSVNYILFu/Hh/Z9Bm5Kac+WkILL4TS70qsQ2mbo5Xa
        g2rz0UmqEo2c0Ztrs/ySJu37/xNNcAFms5KJRuFr4+jxCzH4vjAlXtsyw36AcR/l
        YIsrXWOgjMyqBajzwV0jjzyOo0DkO6Mi42x8oByBjI5vflZPNA1vE3XKhs3vCpkd
        RNd6/rbw+HSCzKiL14ZeHKV/GvhWXz/ZyJIPCfTceC2EonkqcKcKHzRnDZ1q2M3U
        H1/E3uoeA51hP5x+d98ooqQpxsgJn6KzSbrFuiU7qlSxKv8D0xO9zpghqP6L0g1a
        1QIDAQABMA0GCSqGSIb3DQEBBQUAA4IBAQADe9jzGLCeTus4SyiLwME5atCwSUYg
        +0HMffSQuSvZE5kNHLI1YcjzyvMC98iaxiodvayDVO2owHVL1xJOaEYwpzGspyfe
        IBB23fNLVgXetLNnRA+CQ69HhtMq8/ByThRtef0oX2xNS4eReVGvwhXyr+44H19q
        1hufL0EiwqAcx2nRRGHSrMQuN1H+cBpAwWkLrA5U7dqCeARfY4UXwa8mG+P8ykDS
        QImR5FbaitKb+rjEDICYrnRzIm+Wz0WL0zwsyIcAtaZNkPZAvTkTWPevW2kZZCh/
        v1190k8MvnGHO+fMaV0NX1UAIc39czhq+E6tUwKw5nv3FRcID+DiChbP
      -----END CERTIFICATE-----
 
  /etc/pki/tls/certs/server.key:
    content:|
      -----BEGIN RSA PRIVATE KEY-----
    MIIEowIBAAKCAQEAmrokWm21dKANBVXcoXnOCWw6tOD2gVG6fIwOKNYW/+vSVNYI
    LFu/Hh/Z9Bm5Kac+WkILL4TS70qsQ2mbo5Xag2rz0UmqEo2c0Ztrs/ySJu37/xNN
    cAFms5KJRuFr4+jxCzH4vjAlXtsyw36AcR/lYIsrXWOgjMyqBajzwV0jjzyOo0Dk
    O6Mi42x8oByBjI5vflZPNA1vE3XKhs3vCpkdRNd6/rbw+HSCzKiL14ZeHKV/GvhW
    Xz/ZyJIPCfTceC2EonkqcKcKHzRnDZ1q2M3UH1/E3uoeA51hP5x+d98ooqQpxsgJ
    n6KzSbrFuiU7qlSxKv8D0xO9zpghqP6L0g1a1QIDAQABAoIBAQCUBt9+sBT4paKv
    Zwy0Y57NfwDPSaYr5G/gdfGZ+fB5GTjZtwaMwZ2fiWNwWCfAhONvYF3pMU7IZg1W
    VTP0lgo+zlTC9pHCPD86fVHWGR4OJoJ+7w2XyY9i3x98c29P1Oy/BCjwc4ldLaJs
    S5tAHv7IlXyAVS8lZSyIS7IgXSYHArCi6tWZBBk6Trea9QNelI6BPjfIr31hZFhY
    Zj6VJAsx8KEQPIeN9vG+QUGQFLfTuoJy3NZllIAx8DJNe6DV8gAfwTMXNizGVvCn
    qkBIr7IUsQniKnYdOWf4o16v4BzLSspBcWAoha4D/YFU/gztIKzj7OC8PZvafU/h
    jV6jK6MhAoGBAMshCEC+xoBpcCeCEn9o1SJ5AJdy3qKW/TVNlElNlWW7vAW5sHAM
    DwfLFCaOV737ZBvJzU4lDXq4YnfLA1KcG+9QUWP3NxA+rcZ0mH7YX/XGVrZyx9n0
    ioRnrknSVF7Jec2gobfLdh2whwCGATETvacL4swyiO+hmfe9wbCpWoGJAoGBAML/
    +chnGtNwLKjDVCJGP/6dpe+2aBp41II1xcvkdChEa2+VIrGImg3shxkamA2SqMwg
    Sx2DrtnFm7pirqp0uoeEbZMmPboGZqUtJ6kGP15DM/2mCqgkhQGXHZVdHmPoCZZq
    o7Gg7uRipravw6iM9Ku6cNOcBmbHCA82abLrNzftAoGAJxsX5KcVvhkOb3y6JO9A
    wR88fuutcu3Ql5d06dvW3DwVSaDjF98qcZymJ3oV6ExijHsAXIADpVGkG13pKNlH
    A36Z/L3WSvlWKTO/PARaDQ3/GablVM+gbzcqtamZdpohKfY3zBOOjM60XuRtjE45
    n9RI+HjuJfwdkTVl+aXQ98kCgYARAGR01ph+Kt+Z7z3cpydZOcGH/u1gsXxFxg5y
    0n5WLHD5j5UwyWo1IJQ+2hS7yjexZHdoIV0TW6lSPNxhvD+vJRqwo7rqBzjX2fIF
    SKgpvc5ApUN0mYqHMve/WBkYONjtJmsTR6bMftVuRDDY90E139GKgaYFPAE14lag
    5OUxmQKBgH4jK1S+mklojmXt3wSdhnTb18sTejhwlUPhunBUcnd3C291cm373a5B
    iIEzjg+4Z87qzgJggsHI5/DHbkdEzClUO3ZLGKkEcM8UJcfLzxLOECgdGLXWylWT
    2yQ1SpBR23lu3ePSknn6JjARdjq7gnvT5M6/ZNUDWB5327CQUbtX
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"
